{% extends 'main.html'%}
{% load static %}
{% block title %}
cerrando session
{% endblock %}
{% block content %}
	<section class="bg-light-grey " >
        <div class="container" style="margin-top:20px; height:500px;">
        	<div class="login-content">
        		<p>sesion cerrada!</p>
                        <a href="{% url 'login'%}"><font color="black">click aqui para inciar session de nuevo.</font></a>
        	</div>
        </div>
	</section>
{% endblock %}
{% block extrajs %}
{% endblock %}
