{% extends 'main.html' %}

  {% block title %}
  l Listado de plazas
  {% endblock %}

  {% block content %}
  <section class="bg-light-grey">
        <div class="container ">
          <div class="row">
          {% if plazas %}
            <div class="col">
              <div class="row">
                <h4>listado de plazas</h4>
              </div>
              <div class="row">
                <table border="1">
              <thead>
                <tr>
                  <th>#</th>
                  <th>nombre</th>
                  <th>direccion</th>
                  <th>url file</th>
                  <th>latitud</th>
                  {% if user.is_staff == True %}
                  <th>Opciones </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for plaza in plazas %}
                  <tr>
                    <td>{{plaza.id}}</td>
                    <td>{{plaza.n_ubi}}</td>
                    <td>{{plaza.direccion}}</td>
                    {% if user.is_staff == True %}
                    <td>
                      <a href="{% url 'crud:edit_plaza' plaza.id %}"><font color="blue">Editar</font></a>
                      <a href="{% url 'crud:elim_plaza' plaza.id %}"><font color="red">eliminar</font></a>
                    </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <h1>No existen plazas registradas</h1>
          {% endif %}
          </div>
              </div>
            </div>
        </div>
  </section>

{% endblock %}