        {% extends 'main.html'%}
        {% block title %}
        confirmacion
        {% endblock %}
        {% block content %}
        <section class="bg-light-grey " >
                <div class="container" style="margin-top:20px; ">
                    <div class="row" >
                        <div class="col" >
                                        <form method="POST" >
                                             {% csrf_token %}
                                             {% if error %}
                                             <h2>{{error}}</h2>
                                             {% else %}
                                                <h2>esta es una muestra</h2>
                                                <table>
                                                    <fieldset>
                                                        <tr>
                                                            <td><label>telefono: </label></td>
                                                            <td><input type="text" name="telf" ><br></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>clasificacion: </label></td>
                                                            <td><input type="text" name="clas" ><br></td>
                                                        </tr>
                                                        <tr>
                                                            {% if foreig %}
                                                            <td><input type="text" name="ubi" value={{foreig}} style="visibility:hidden;"></td>
                                                            {% endif %}
                                                        </tr>
                                                    </fieldset>
                                                </table>
                                                {% endif %}
                                                <fieldset >
                                                <button type="submit">crear</button>
                                        </fieldset>
                                        </form>
                                </div>
                                <div class="col">
                                {{m | safe}}
                                </div>
                        </div>

                        </div>
                </div>
        </section>
        {% endblock %}
        {% block extrajs %}


        {% endblock %}