        {% extends 'adm/index_adm.html'%}
        {% block title %}
        confirmacion
        {% endblock %}
        {% block content %}
        <section class="bg-light-grey " >
                <div class="container" style="margin-top:20px; ">
                	<div class="row" >
                		<div class="col" >
                                        <form method="POST" class="form-control">
                                            {% csrf_token %}
                                            <fieldset >
                                            {% if error %}
                                            <h2>{{error}}</h2>
                                            {% else %}
                                                <label><h2>esta es una muestra</h2></label>
                                            {% endif %}

                                                <button type="submit" class="btn btn-primary btn-user btn-block">crear</button>
                                            </fieldset>
                                        </form>
                                </div>
                                <div class="col">
                                {{m | safe}}
                                </div>
                        </div>


                </div>
        </section>
        {% endblock %}
        {% block extrajs %}


        {% endblock %}