        {% extends 'main.html'%}
        {% block title %}
        confirmacion
        {% endblock %}
        {% block content %}
        <section class="bg-light-grey " >
                <div class="container" style="margin-top:20px; ">
                	<div class="row" >
                		<div class="col" >
                                        <form method="POST" >
                                             {% csrf_token %}
                                             {% if error %}
                                             <h2>{{error}}</h2>
                                             {% else %}
                                                <h2>esta es una muestra</h2>
                                                {% if var_comi %}
                                                {{ var_comi.as_p }}

                                                {% endif%}
                                                {% endif %}
                                                <fieldset >
                                                <button type="submit">crear</button>
                                        </fieldset>
                                        </form>
                                </div>
                                <div class="col">
                                {{m | safe}}
                                </div>
                        </div>

                        </div>
                </div>
        </section>
        {% endblock %}
        {% block extrajs %}


        {% endblock %}