{% extends 'index.html' %}
{% block title %}
administracion de datos sistema
{% endblock title %}
{% block extracss %}
{% endblock extracss %}
{% block body %}
<form action="/my-handling-form-page" method="post">
  <p>

    Seleccione:

    <select name="datos">

      <option>Lugar</option>

      <option>Visita Virtual</option>

      <option>Calendario</option>

    </select>

    <input type="submit" value="Agregar" onclick="">
    <input type="submit" value="Buscar">

    <button type="button" onclick="location.href = 'hola.html'">Botón</button>

  </p>

</form>
{% endblock body %}
{% block extrajs %}
{% endblock extrajs %}
